.books {
  margin: 14px;
}

.books__mainbook__cover img {
  width: 125px;
  height: 170px;
  border-radius: 10px;
  margin-right: 20px;
}
.books__mainbook__info {
  display: flex;
}
.books__mainbook__info__detail__title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 550;
  opacity: 0.9;
}
.books__mainbook__info__detail__author {
  font-size: 13px;
  opacity: 0.5;
}
.books__mainbook__info__detail__star {
  font-size: 15px;
  margin-top: 10px;
}
.books__mainbook__info__detail__btn button {
  border: none;
  width: 80px;
  height: 24px;
  margin: 14px 3px;
}
.books__mainbook__info__detail__more {
  margin-top: 13px;
}
.books__mainbook__info__detail__more button:first-child {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #ffcc33;
  margin-right: 40px;
}
.books__mainbook__info__detail__more button:last-child {
  border: none;
  width: 120px;
  height: 40px;
  background-color: black;
  border-radius: 5px;
  font-size: 12px;
  color: lightgray;
}
